.myproject{
	background-image: url(../img/myproject/bg.jpg);
}
.project{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 10px;
	padding-left: 20px;
	border: 1px solid transparent;
	transition: 0.4s;
}
.project:hover{
	border: 1px solid white;
}
.project_block{
	width: 300px;
	height: 300px;
	background: #000;
	margin-bottom: 10px;
	margin-right: 20px;
	opacity: 1;
}
.project_block a{
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	font-size: 24px;
}
.project_block a:hover{
	background-color: #000;
	opacity: 0.7;
	transition: 0.6s;
}

.project_block:nth-child(1){
	background: url(../img/myproject/candy.png) no-repeat;
	background-size: cover;
	background-position: center;	
}
.project_block:nth-child(2){
	background: url(../img/myproject/alexis.png) no-repeat;
	background-size: cover;
	background-position: center;	
}
.project_block:nth-child(3){
	background: url(../img/myproject/jetro.png) no-repeat;
	background-size: cover;
	background-position: center;	
}
.project_block:nth-child(4){
	background: url(../img/myproject/creativia.png) no-repeat;
	background-size: cover;
	background-position: center;	
}
.project_block:nth-child(5){
	background: url(../img/myproject/blog.png) no-repeat;
	background-size: cover;
	background-position: center;	
}
.project_block:nth-child(6){
	background: url(../img/myproject/mmg.png) no-repeat;
	background-size: cover;
	background-position: center;	
}
.project_block:nth-child(7){
	background: url(../img/myproject/dart_service.png) no-repeat;
	background-size: cover;
	background-position: center;	
}
.project_block:nth-child(8){
	background: url(../img/myproject/culinar.png) no-repeat;
	background-size: cover;
	background-position: center;	
}
.project_block:nth-child(9){
	background: url(../img/myproject/elegant.png) no-repeat;
	background-size: cover;
	background-position: center;	
}
