.header__nav li .about{
	color: rgb(232,102,60);
}

.header__nav li .blog{
	color: rgb(185,185,185);
}

.about .container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.about_contentblock{
	width: 100%;
	max-width: 673px;
	min-height: 1000px;
}
.img_block{
	width: 228px;
	height: 228px;
	float: left;
	padding: 2px;
	border: 1px solid #cccccc;
	margin-bottom: 30px;
	margin-right: 27px;
}
.about_contentblock>p.text-content{
	line-height: 18px;
	margin-bottom: 30px;
}
.big_letter{
	float: left;
	margin-right: 6px;
}
.span_letter{
	font-size: 36px;
	font-weight: 900;
	text-transform: uppercase;
	font-family: "HelveticaNeueCyr-Roman" ;
	color: #e8603c;
}
.citata-block{
	width: 100%;
	margin-left: 50px;
	border-left: 8px solid #e8663c;
	padding-left: 18px;
	padding-right: 30px;
	line-height: 18px;
}
.citata-block>p.text-content{
	font-family: "Helvetica Light",sans-serif ;
	font-style: italic;
}
.column_text-2,
.column_text-3{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 15px;
	margin-bottom: 15px;
	justify-content: space-between;
}

.column_text-2 p.text-content{
	width: 48%;
	line-height: 18px;
}
.column_text-3 p.text-content{
	width: 32%;
	line-height: 18px;
}
.blocks_alerttext{
	text-align: center;
	width: 100%;
	padding: 25px;
	margin: 9px 0;
	font-family: "HelveticaNeueCyr-Roman" ;
	font-size: 14px;
	font-style: italic;
}
.blocks_alerttext--1{
	background-color: #effeb9;
	border: 1px solid #98c601;
	color: rgb(152,198,1);
}
.blocks_alerttext--2{
	background-color: #fbcbc1;
	border: 1px solid #eb5439;
	color: rgb(235,84,57);
}
.blocks_alerttext--3{
	background-color: #ffe9ad;
	border: 1px solid #fab418;
	color: rgb(250,180,24);
}
.blocks_alerttext--4{
	background-color: #d1e4f3;
	border: 1px solid #4d8fcb;
	color: rgb(77,143,203);
}

