.wrap__blog .decorblock-right{
	opacity: 0;
}
.header__nav li .blog{
	color: rgb(232,102,60);
}
.header__nav li .home{
	color: rgb(185,185,185);
}
.header__nav--line{
	height: 60px;
	background-color: rgb(232,96,60);
	padding-left: 19px;
	padding-top: 17px;
	margin-bottom: 24px;
}
.header__nav--line>.h3-info{
	font-size: 24px;
}
.header__navigation--bannercobtainer{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.decorblock--iconblock{
	width: 75px;
	height: 75px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(232,96,60);
	margin-top: 24px;
	float: right;
}
.header__navigation--banner{
	max-width: 100%;
	width: 100%;
	background: url(../img/png_icons/index/background_grey-squaer.png) repeat-x;
	background-position: bottom;
}
.header__navigation__banner--slider{
	height: 300px;
}
.container__slider--button{
	margin-top: 120px;
}
.header__navigation__banner--content{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	min-height: 264px;	
}
.header__navigation__banner--content--left{
	width: 20.8955%;
	padding-top: 24px;
}
.header__navigation__banner--content--left>.h3-content{
	font-size: 12px;
	margin-bottom: 10px;
}
.header__navigation__banner--content--left>.text-content{
	color: rgb(186,186,186);
	margin-bottom: 15px;
}
.header__navigation__banner--content--right{
	padding-right: 20px;
	line-height: 18px;
	padding-top: 24px;
	width: 79%;
}
.header__navigation__banner--content--right>.h3-content{
	margin-bottom: 24px;
}
.header__nav--rightblock{
	width: 220px;
	height: 435px;
	margin-left: 50px;
}
.header__nav--rightblock .text-content{
	line-height: 18px;
	margin-bottom: 39px;
}
.tittle__block{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 21px;
}
.wrap__h3-content{
	display: inline-block;
	
}
.wrap__h3-content>.h3-content{
	font-size: 14px;
	display: inline;
	padding-right: 16px;
}
.wrap__bg{
	background: url(../img/png_icons/index/background_grey-squaer.png) 0 2px repeat-x;
	flex-grow: 1;
	display: inline-block;
}
.rightblock__photogallery{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.rightblock__photogallery--blocks{
	width: 50px;
	height: 50px;
	border: 1px solid #e8603c;
	background: #f3af9d;
	margin-bottom: 5px;
}

/*SICTION JESUS*/
.section__jesus{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding-top: 60px;
}
.section__jesus .decorblock--iconblock{
	margin-top: 0;
}
.section__jesus .header__navigation__banner--slider{
	background: url(../img/png_icons/blog/blog_jesus.png) no-repeat;
	background-size: cover;
}
/*SECTION BUGS BUNNY*/
.section__bugsbunny{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding-top: 60px;
}
.section__bugsbunny .decorblock--iconblock{
	margin-top: 0;
}
.section__bugsbunny .header__navigation__banner--slider{
	background: url(../img/png_icons/blog/);
}
/*SACTION COMA*/
.section__coma{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding-top: 60px;
}
.section__coma .decorblock--iconblock{
	margin-top: 0;
}

.section__coma .header__navigation--banner{
	min-height: 145px;
}
.section__coma .header__navigation--banner .text-content{
	padding: 20px 60px 20px 75px;
	line-height: 18px;
	background:url(../img/png_icons/blog/zapiatay.png) 35px 20px no-repeat, 
						url(../img/png_icons/blog/bg_text.png);
	            
}
/*SACTION CHAIN*/
.section__chain{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding-top: 60px;
}
.section__chain .decorblock--iconblock{
	margin-top: 0;
}
.section__chain .header__navigation--banner{
	min-height: 145px;
}
.section__chain .header__navigation--banner>a{
	color: rgb(185,185,185);
	font-size: 12px;
	font-family: "HelveticaNeueCyr-Roman" ;
	text-transform: lowercase;
	margin-top: 13px;
	margin-bottom: 20px;
}
.section__chain .header__navigation--banner .text-content{
	line-height: 18px;
}
/*ref__number*/
.ref__number{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding-top: 50px;
	padding-bottom: 50px;
}
.ref__number>span>a{
	width: 26px;
	height: 26px;
	background: #f3b29d;
	margin-right: 5px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	padding-top: 20%;
}
.ref__number>span>a:hover{
	background: #e8663c;
}
