@font-face{
	font-family:"MyriadPro-Bold" ;
	src: url(../fonts/MyriadPro-Bold.otf);
}
@font-face{
	font-family:"MyriadPro-BoldIt" ;
	src: url(../fonts/MyriadPro-BoldIt.otf);
}
@font-face{
	font-family:"MyriadPro-It" ;
	src: url(../fonts/MyriadPro-It.otf);
}
@font-face{
	font-family:"MyriadPro-Regular" ;
	src: url(../fonts/MyriadPro-Regular.otf);
}
   					/*///RESET CSS///*/
:root{
	font-size: 16px;
	font-family:Helvetica,Arial,sans-serif;
	line-height: 1; 
}
html,body{
	height: 100%;
}
footer,aside,header,
nav,article,menu,
figure,section,picture,
video,audio{
	display: block;
}
*,*:before,*:after
{
	box-sizing: border-box;
	clear: both;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	border: 0;
}
a{
	display: block;
	cursor: pointer;
	color: inherit;
	font-family: inherit;
	width: 100%;
	height: 100%;
}
img{
	width: 100%;
	min-width: 100%;
}
.button,.btn{
	cursor: pointer;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}
.clearfix:after{
	content:"";
	display: table;
	clear: both;
}
.wrapper{
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}
.container{
	margin: 0 auto; 
	width:100%;
	height: 100%;
	max-width:1775px;
}
						/*\\\RESET CSS\\\*/

						/*///GENERAL BEGINING BODY STYLE ///*/

						/*\\\GENERAL BEGINING BODY STYLE \\\*/

   					/*///HEADER///*/
   					
header{
	width: 100%;
	height: 100vh;
	position: relative;
}
.header__navigation{
	display: flex;
	align-items:  center;
	width: 100%;
	height: 120px;
	position: absolute;
	z-index: 10;
}
.header__nav{
	display: flex;
	margin-left: 400px;
}
.header__nav li{
	margin-right: 50px;
	text-transform: uppercase;
	font-size: 22px;
	font-family:"MyriadPro-BoldIt" ;
	padding-bottom: 5px;
	color: #fff;
	transition: 0.5s;
	border-bottom: 3px solid rgba(241,172,17, .0);
}
.header__nav li:hover{
	color: #f1ac11;
	border-bottom: 3px solid rgba(241,172,17, 1.0); 
}



.header_content{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-between;
}
.left_block{
	width: 50%;
	height: 100vh;
	overflow: hidden;
	position: relative;
}
.right_block{
	width: 50%;
	height: 100vh;
	overflow: hidden;
	position: relative;
}
.middle_block{
	width: 794px;
	height: 100%;
	border-left: 3px solid #f1ac11;
	border-right: 3px solid #f1ac11;
	transform: skew(-18deg);
	position: absolute;
	top: 0;
	left: 30%;
	overflow: hidden;
	z-index: 9;
}
.bg--l,
.bg--m,
.bg--r{
	width: 100%;
	height: 100%;
	transition: 0.5s;
}

.bg--l{
	background:url("../img/header_img/meat.jpg") no-repeat;

}
.bg--m{
	background: url("../img/header_img/vegeterian.jpg") no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 40%;
}
.bg--r{
	background: url('../img/header_img/secret.jpg') no-repeat;
	background-position: center;
	background-size: cover;
}
.bg--l:hover,
.bg--m:hover,
.bg--r:hover{
	transform: scale(1.1);
}

.card_container{
	position: absolute;
	top: 50vh;
	left:50%;
	transform: translate(-50%,-50%);
}
.left_block .card_block{	
	transform: translate(-50%,-50%);
	position: absolute;
	top: 50vh;
	margin-left: 250px;
}
.right_block .card_block{
	transform: translate(-50%,-50%);
	position: absolute;
	top: 50vh;
	right: -185px;
}
.card_block--m{
	transform: skew(18deg);
}
.card_block,
.card_block--m{
	background: url("../img/header_img/vinyetka.png") no-repeat;
	width: 426px;
	height: 260px;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:  center;
	text-align: center;
	padding-top: 50px;
}
.card_block:hover ,
.card_block--m:hover{
	background: url("../img/header_img/vinyetka_opasity.png");
	transition: 0.3s;
	cursor: pointer;
	margin-top: -20px;
}

.card_title{
	font-size: 38px;
	font-family:"MyriadPro-Bold" ;	
}
.card_btn{
	background: #f1ac11;
	width: 140px;
	height: 30px;
	font-family:"MyriadPro-Regular" ;
	border-radius: 3px;
}
   					/*\\\HEADER\\\*/

   					/* section_menu */
.container_menu{
	max-width: 1170px;
	width: 100%;
	min-height: 1000px;
	background: #fff;
	margin: 0 auto;
	color: #f1ac11;
	padding-top: 80px;
	/* padding-left: 100px; */
	/* padding-right: 100px; */
	text-transform: uppercase;
}
.section_menu--title{
	font-size: 42px;	
	font-family:"MyriadPro-It" ;
	text-align: center;
}
.check_sorting{
	font-size: 14px;
	font-family:"MyriadPro-It" ;
	color: #000;
	padding-left: 30px;
	background: url("../img/section_img/mini_check.png") no-repeat;
	margin-top: 40px;
	margin-bottom: 40px;
}
.container_pricemenu{
	max-width: 100%;
	width: 900px;
	min-height: 320px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	text-transform: uppercase;
}
.price_block{
	width: 410px;
	height: 80px;
	display: flex;
	color: #000;
	font-family:"MyriadPro-Regular" ;
	justify-content: space-between;
}
.icon_block{
	width: 80px;
	height: 80px;
}
.title_price{
	padding-top: 20px;
	width: 300px;
}
.title_price h3::before{
	content: "";
	border-bottom: 1px dashed #000;
  flex-grow: 1;
  order: 2;
  margin: 0 5px;
}

.price_block h3{
	font-size: 18px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	font-family:"MyriadPro-Regular" ;
	align-items: baseline;
}
.price_block p{
	font-size: 13px;
	color: #bcbcbc;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}
.price_block p::before{
	content: "";
	border-bottom: 1px dashed #ccc;
  flex-grow: 1;
  order: 2;
  margin: 0 5px;
}
.price_block .price{
	display: flex;
	justify-content: center;
	align-items:  center;
	width: 44px;
	height: 27px;
	background: url("../img/section_img/mini_price_bg.png") no-repeat;
	order: 3;
}
.price_block p span{
	order: 3;
}
/* ////////////////////// */
.slider_container{
	width: 100%;
	max-width: 970px;
	height: 310px;	
	position: relative;
	display: flex;
	overflow: hidden;
	margin: auto auto;
	margin-top: 125px;
}
.slider_box{
	display: flex;
	width: 100%;
	margin: 0 auto;
	transition: 0.5s;
	margin-left: 0px;
}
.prevew_block_img{
	width: 493px;
	height: 310px;
	
}
.slide_1{
	background: url("../img/section_img/img_spagetti.png") no-repeat;
}
.slide_2{
	background: url("../img/section_img/image (25).jpg") no-repeat;
}
.slide_3{
	background: url("../img/section_img/image (26).jpg") no-repeat;
}
.slide_4{
	background: url("../img/section_img/image (27).jpg") no-repeat;
}
.slide_5{
	background: url("../img/section_img/image (28).jpg") no-repeat;
}
.slide_6{
	background: url("../img/section_img/image (29).jpg") no-repeat;
}
.slid_block_content{
	width: 530px;
	height: 100%;
	font-family:"MyriadPro-It" ;
	margin-left: 30px;
}
.slid_block_content h3{
	font-size: 12px;
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 20px;
}
.slid_block_content h2{
	font-size: 24px;
	color: #2b2b2b;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.slid_block_content p{
	font-size: 14px;
	color: #d4d4d4;
	padding-right: 200px;
	margin-bottom: 30px;
	text-transform:  none;
	line-height: 1.4;
}
.slid_price_btn{
	width: 100px;
	height: 32px;
  border-radius: 3px;
  background: #f1ac11;
  color: #2b2b2b;
}
.button--next_offer{
	font-size: 12px;
	font-family:"MyriadPro-It" ;
	text-transform: uppercase;
	position: absolute;
	right: 0;
	top: 150px;
	cursor: pointer;
}
.button--back_offer{
	font-size: 12px;
	font-family:"MyriadPro-It" ;
	text-transform: uppercase;
	position: absolute;
	left: 0px;
	top: 150px;
	cursor: pointer;
}
.button--next_offer>span,
.button--back_offer>span{
	font-size: 20px;
	color: #d9d9d9;
	transition: 0.5s;
}
.button--next_offer:hover span,
.button--back_offer:hover span{
	color: #aaa;
}

 					/* section_menu */

 					/* section_search */
.search{
	min-height: 490px;
	background: url(../img/section_img/bg_finde-us.jpg) no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
} 
.container_block{
	font-family:"MyriadPro-It";
	width: 622px;
	min-height: 384px;
	background: url(../img/section_img/section_vinyetka.png) no-repeat;
	text-align: center;
	padding-top: 100px;
}
.block_adress{
	display: flex;
	width: 100%;
	padding-left: 100px;
	padding-right: 100px;
	justify-content: space-between;
	margin-top: 30px;
	margin-bottom: 30px;
}
.title_adress{
	text-transform: uppercase;
	font-size: 28px;
	font-weight: 300;
}
.logo_block{
	max-width: 224px;
	width: 100%;
}
.adress{
	text-align: left;
	line-height: 1.3;
}
.btn{
	width: 130px;
	height: 32px;
	background: #f1ac11;
	border-radius: 3px;
	box-shadow: 0px 2px #b47d00;
	margin: auto;
	text-transform: uppercase;
}
.btn a{
	padding: 12px;
	font-size: 14px;
}
 					/* section_search */

      
 					/* footer */
footer{
	background: url(../img/footer_img/footer_bg.jpg) no-repeat;
} 					
footer>.container{
	width: 100%;
	max-width: 1170px;
	min-height: 275px;
}
.left_footerblock{
	width: 50%;
	display: flex;
	color: #fff;
	padding-top: 50px;
}
.left_footerblock a{
	width: 100%;
	height: 0%;
	margin-bottom: 20px;
	transition: 0.5s;
} 
.left_footerblock a:hover{
	padding-left: 10px;
}
.contacts_blocks{
	width: 33%;
}					