@font-face{
	font-family: "Open Sans ExtraBold";
	src: url("../fonts/Open Sans.ttf");
}
@font-face{
	font-family: "Open Sans Semibold";
	src: url("../fonts/Open Sans.ttf");
}
@font-face{
	font-family: ;
	src: url();
}
@font-face{
	font-family: ; 
	src: url();
}
   					/*///RESET CSS///*/
:root{
	font-size: 16px;
	font-family:Helvetica,Arial,sans-serif;
	line-height: 1; 
}
html,body{
	height: 100%;
}
footer,aside,header,
nav,article,menu,
figure,section,picture,
video,audio{
	display: block;
}
*,*::before,*::after{
	box-sizing: border-box;
	clear: both;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	border: 0;
}

a{
	display: block;
	cursor: pointer;
	color: inherit;
	font-family: inherit;
	width: 100%;
	height: 100%;
}
img{
	width: 100%;
}
.button,.btn{
	cursor: pointer;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center; 
}
.clearfix::after{
	content:"";
	display: table;
	clear: both;
}
.wrapper{
	height: 100%;
	width: 100%;
}
.container{
	margin: 0 auto; 
	width:100%;
	height: 100%;
	max-width: calc(100% - 270px);
}
						/*\\\RESET CSS\\\*/

						/*///GENERAL BEGINING BODY STYLE ///*/
header{
	background: url('../img/header_img/header_bg.png') no-repeat;
	background-size: cover;
	background-position: 0 -100px;
	width: 100%;
	min-height: 773px;
}
.header__logo{
	max-width: 155px; 
}
.header__navigation{
	 position: fixed; 
	width: 100%;
	height: 90px;
	background-color: rgba(255, 255, 255, 1.0);
	z-index: 100;
	color: #3c3c3c;
	font-size: 16px;
	border-bottom: 1px solid #b6b5b5;
	transition: 0.4s;
}
.header__navigation .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__nav{
	display: flex;
}
li>.active{
	color: rgba(66,	181,	73, 1.0);
}

.active{
	border-bottom: 2px solid rgba(66,	181,	73, 1.0);
}

.header__nav>li{
	margin-left: 20px;
	height: 90px;	
}
.header__nav>li>a{
	display: flex;
	align-items: center;
	transition: 0.3s;
}
.header__nav>li>a::after{
	content: "";
	display: block;
	border: 5px solid transparent;
	border-top: 5px solid #000;
	margin-left: 10px;
	margin-top: 3px;
	transition: 0.2s;
}
.header__nav>li>a:hover{
	border-bottom: 2px solid rgba(66,	181,	73, 1.0);
}
.header__nav>li>a:hover::after{
	transform: rotateX(180deg);
}
.header__nav li a:hover{
	color: #42b549;
}
.sub_menu{
	height: 0px;
	overflow: hidden;
	transition: height 0.4s;
}
.header__nav>li:hover .sub_menu{
	height: 150px;
	 /*overflow: visible; */
}

.sub_menu>li{
	padding:  10px 5px 2px 5px;
	margin-left: 60px;
	color: #fff;
	background-color: #2c67b1;
	border-bottom: 1px solid #000;
}

.login_btn{
	width: 115px;
	height: 40px;
	background-color: #2c67b1;
	color: #fff;
	text-transform: uppercase;
	margin-left: 30px;
	padding:  0 15px;
}
/* ////////// */

.header_banner{
	height: 773px;
	position: relative;	
}
.wave_anim_container{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 175px;
	background: url('../img/header_img/wave_1.png') no-repeat 0 49px,
	            url('../img/header_img/wave_2.png') no-repeat,
	            url('../img/header_img/wave_3.png') no-repeat;
}
.header_banner>.container{
	display: flex;
	align-items: center;
}
.banner_container{
	width: 900px;
	height: 380px;
	margin-left: 85px;
	color: #fff;
	display: flex;
}
.banner_title{
	text-transform: uppercase;
	text-align: center;
	width: 49%;
}
.banner-big_title{
	font-family: "Open Sans ExtraBold";
	font-size: 80px;
	font-weight: 900;
	margin-top: 95px;
}
.banner_title h1{
	font-size: 16px;
	color: #172592;
	padding: 10px;
	width: 250px;
	background-color: #fff;
	border-radius: 15px 0 15px 0;
	margin: 0 auto;
	text-align: center;
}
.banner_sub_title{
	font-weight: 800;
}
.banner_description>h3{
	text-transform: uppercase;
	font-size: 20px;
	color: #fff;
	font-family: "Open Sans";
	display: flex;
	align-items: center;
	margin-bottom: 85px;

}
.banner_description>h3:before{
	content: "";
	display: block;
	width: 60px;
	height: 45px;
	margin-right: 30px;	
}
.banner_description>h3:nth-child(1):before{
	background: url(../img/header_img/pointer.png) no-repeat center center;
}
.banner_description>h3:nth-child(2):before{
	background: url(../img/header_img/network.png) no-repeat center center;
}
.banner_description>h3:nth-child(3):before{
	background: url(../img/header_img/change_world.png) no-repeat center center;
}



						/* ///section_slider/// */

.section_slider{
	width: 100%;
	min-height: 482px;
	background: url(../img/section_img/section_slider/slide_1.jpg) no-repeat;
}
.section_slider>.container_slider{
	display: flex;	
	justify-content: flex-end;
	align-items: center;
	min-height: 482px;
}
.main_slider_container{
	font-family: 'Open Sans Regular';
	width: 500px;
	height: 380px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;	
	color: #3c3c3c;
	text-transform: uppercase;
	}
.main_slider_container>:nth-child(1){
	font-size: 25px;
}
.main_slider_container>:nth-child(2){
	font-size: 55px;
	margin-top: 22px;
	margin-bottom: 30px;
}
.main_slider_container .slid_description{
	font-size: 16px;
	color: #808080;
	text-transform: none;
	line-height: 25px;
	text-align: right;
}
.main_slider_container--btn{
	margin-top: 50px;
	margin-bottom: 85px;
}
.main_slider_container--btn a{
	width: 200px;
	height: 50px;
	background: #2c67b1;
	font-size: 14px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.2s;
}
.main_slider_container--btn a:hover{
	background: #f4213a;
}
.container_points{
	display: flex;
}
.points{
	width: 14px;
	height: 14px;
	background-color: #7f7f7f;
	display: block;
	margin-left: 10px;
	border-radius: 50%;
	cursor: pointer;

}
.points:hover{
	background: #000;
	transition: 0.2s;
}
		/* ///container_slider_description/// */
.container_slider_description{
	min-height: 675px;
	background: url(../img/section_img/section_slider/main_bg.png) no-repeat;
	background-position: center right;
	display: flex;
	align-items: center;
	font-family: "Open Sans Regular";	
}	
.description_box{
	width: 400px;
	height: 100%;
	color: #7f7f7f;
}	
.description_box h3{
	font-size: 16px;
	/* position: relative; */
}
.description_box>h3:before{
	content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  /* position: absolute; */
  margin-right: 30px;
}
.description_box>h3:nth-child(1):before{
	background: url(../img/section_img/section_slider/sprite_icon.png) no-repeat;
	background-position-y: top ;
}
.description_box>h3:nth-child(3):before{
	background: url(../img/section_img/section_slider/sprite_icon.png) no-repeat;
	background-position-y: center ;
}
.description_box>h3:nth-child(5):before{
	background: url(../img/section_img/section_slider/sprite_icon.png) no-repeat;
	background-position-y: bottom ;
}
.description_box p{
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 85px;
	line-height: 25px;
}
.description_box span{
	font-size: 14px;
	color: #3c3c3c;
}

		/* ///container_slider_description/// */
						/* \\\section_slider\\\ */


						/* ///section_download/// */
.section_download{
	background: url(../img/section_img/section_download/main_bg.png) no-repeat;
	background-size: cover;
	min-height: 670px;
}
.container_download{
	display: flex;
	justify-content: flex-end;
	min-height: 670px;
	align-items: center;
	color: #fff;
}
.download_container{
	width: 430px;
	height: 260px;
	text-align: right;
	font-family: "Open Sans";
	font-weight: 200;

}
.download_container h2{
	font-size: 35px;
}
.download_container p{
	margin-top: 30px;
	margin-bottom: 60px;
	font-size: 16px;
	line-height: 30px;
}		
.download_button_container{
	display: flex;
	justify-content: space-between;
}	
.google_btn,
.app_btn{
	width: 200px;
	height: 65px;
	border-radius: 5px;
	background-color: #12192e;
	background-repeat: no-repeat;
	text-align: left;
	/* line-height: 0px; */
}
.google_btn{
	background-image: url(../img/section_img/section_download/1492616988-12-play-store-google-android-game-service-marketplace_83394.png);
	background-size: 30%;	
}
.app_btn{
	background-image: url(../img/section_img/section_download/mac-apple-software-hardware-system_icon-icons.com_61423.png);
	background-size: 30%;
}
.download_button_container p{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: normal;
	margin: 0;

}
.download_button_container h3{
	font-weight: normal;
	font-size: 20px;
}
.desc_box{
	margin-left: 30px;
	margin-top: -10px;
}


						/* \\\section_download\\\ */

					/* /// section article /// */
.article{
	min-height: 685px;
	width: 100%;
	position: relative;
}
.wrap_arrow{
	position: absolute;
	bottom: -21px;
  left: 48.5%;
  /* transform-origin: center; */
}
.block_arrow{
	width: 0;
	height: 21px;
  position: relative; 
  border-right: 30px solid white;
  border-bottom: 21px solid transparent;
}
.block_arrow::before{
	content: "";
	display: block;
	border-left: 30px solid white;
  border-bottom: 21px solid transparent;
  position: absolute;
  left: 30px;
}

.container_article{
	display: flex;
	justify-content: space-between;
	width: 1156px;
	padding-top: 90px;
}
.wrapper_article{
	padding: 0 9px;
	font-family: "Open Sans";
}
.block_article{
	width: 355px;
	border: 1px solid rgba(0,0,0,0);
	transition: 0.3s;
}
.block_article:hover{
	cursor: pointer;
  border: 1px solid rgba(0,0,0,0.2);

}
.article_title{
	margin: 35px 0 20px;
	color: #3c3c3c;
	font-size: 16px;
	line-height: 22px;
	font-family: "Open Sans Bold";
}
.article_description{
	font-size: 14px;
	color: #7f7f7f;
	line-height: 19px;
}
.wrap_info{
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	color: #a6a6a6;
	margin: 30px 0 10px;
}

					/* \\\ section article \\\ */

					/* /// section form /// */
.section_form{
	width: 100%;
	min-height: 670px;
	background: url(../img/section_img/section_form/form_bg.png) no-repeat;
	background-size: cover;
	padding-top: 90px;
}
.wrap_form{
	width: 635px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
}	
.section_form-title{
	font-family: "Open Sans";
	font-weight: 300;
	font-size: 35px;
}	
.section_form-title span{
	font-family: "Open Sans Bold";
	font-weight: 600;
}
.form_description{
	opacity: 0.7;
	font-size: 16px;
	line-height: 30px;
	margin-top: 25px;
	margin-bottom: 65px;
	padding: 0 35px;
}

.wrap_form label {
 display: flex;
 justify-content: space-between;
}
form [placeholder]{
	font-size: 15px;
	color: #a5a5a5;
}
.wrap_form input{
 display: inline-block;
 width: 300px;
 height: 50px;
 border-radius: 5px;
 padding-left: 32px;
}
.wrap_form input:focus{
	outline: none;
	box-shadow: 0 0 3px 2px white;
}
.wrap_form textarea{
	width: 100%;
	height: 210px;
	padding: 30px 0 0 32px;
	margin-top: 20px;
	margin-bottom: 30px;
	border-radius: 5px;
}	
.btn_send{
	width: 167px;
	height: 51px;
	border: 1px solid white;
	margin: 0 auto;
	text-transform: uppercase;
	font-size: 14px;
}		
					/* \\\ section form \\\ */

					/* /// FOOTER /// */
footer{
	width: 100%;
	min-height: 300px;
	background-color: #42b549;
}	
.footer_container{
	display: flex;
	justify-content: space-between;
	color: #fff;
}
.footer_container a{
	height: 21px;
	width: 30%;
	font-size: 16px;
	transition: 0.3s;
}
.footer_container a:hover{
	color: #fff;
	text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 
						 0 0 15px #FFF, 0 0 20px #49ff18, 
						 0 0 30px #49FF18, 0 0 40px #49FF18, 
						 0 0 55px #49FF18, 0 0 75px #49ff18;
}
.blocks_links{
	width: 300px;
	padding-top: 90px;
	flex-grow: 1;
}
.blocks_links h3{
	font-family: "Open Sans Bold";
	margin-bottom: 30px;
}
.blocks_links:nth-child(2) a{
	text-transform: uppercase;
}
.blocks_links p{
	display: flex;
	line-height: 21px;
}
.blocks_links p::before{
	content: "";
	margin-top: 3px;
	width: 15px;
	height: 15px;
	margin-right: 13px;
	background: url(../img/section_img/section_footer/footer_sprite_icon.png)no-repeat;
}
.blocks_links p:nth-child(1)::before{
	background-position: 0 2px;
}
.blocks_links p:nth-child(2)::before{
	background-position: 0 -22px;
}
.blocks_links p:nth-child(3)::before{
	background-position: 0 -48px;
}
.blocks_links p:nth-child(2){
	margin: 20px 0;
}	
.shadow_box{
	box-shadow: 0px 2px 5px 2px grey;
}			
					/* \\\ FOOTER \\\ */

   					/* ///MEDIA QUERY/// */
@media(min-width: 299px) and (max-width: 781px){
	img{
		width: 70px;
	}
}  					
/* ///////// */
@media(max-width: 782px){
  img{
  	width: 50px;
  }
}

/* ///////// */
@media(min-width: 783px) and (max-width: 900px){
	img{
		width: 50px;
	}
}

/* ///////// */
@media(min-width: 901px) and (max-width: 1199px){
	img{
		width: 70px;
	}
	.header__navigation .container{
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
}
}

/* ///////// */
@media(min-width: 1200px){

}  					
 					